@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-pink-50 text-gray-800;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #f9a8d4 transparent;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #f9a8d4;
    border-radius: 9999px;
  }
}
